# PyBank
An assignment for Rutger's FinTech Boot Camp

Given the `budget_data` CSV, we were told to extract various key financial metrics from the dataset.

## Analysis
We'll begin by importing the given budget data so we can perform the analysis.

In [1]:
import pandas as pd

budget_data_frame = pd.read_csv(r'C:\Users\ppate\budget_data.csv')
budget_data_frame

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

### Total Months
Initally, we want to calculate the total number of months in the dataset. To do this, we can use the `len()` function, as it measures 
the rows of any `DataFrame` object.

In [2]:
total_number_of_months = len(budget_data_frame)
total_number_of_months

86

### Total Profit/Losses

In [3]:
total_profit_loss = 0

for monthly_profit in budget_data_frame["Profit/Losses"]:
    total_profit_loss += monthly_profit
    
total_profit_loss

38382578

### Average Change in Profit/Losses
To calculate the average change in Profit/Losses, one must look at the difference between a given month and the previous, for each instance of two months. For example, in the dataset (`budget_data_frame`):

In [4]:
budget_data_frame

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

TO compute the first two months

In [5]:
average_profit_loss = 0

profit_losses_data_frame = budget_data_frame["Profit/Losses"]

numeric_profit_losses_data_frame = pd.to_numeric(profit_losses_data_frame)

average_change_data_frame = numeric_profit_losses_data_frame - numeric_profit_losses_data_frame.shift(1)

average_profit_loss_unrounded = average_change_data_frame.mean()
average_profit_loss = average_profit_loss_unrounded.round(2)

average_profit_loss

-2315.12

## Greatest Increase in Profits

In [12]:
greatest_increase = average_change_data_frame.max()
val_increase = budget_data_frame.iloc[average_change_data_frame.idxmax()]["Date"]

### Greatest Decrease in Profits

In [11]:
greatest_decrease = average_change_data_frame.min()

budget_data_frame.iloc[average_change_data_frame.idxmin()]

val_decrease = budget_data_frame.iloc[average_change_data_frame.idxmin()]["Date"]

In [16]:
with open ("analysis.txt", "w") as f:
    f.write("Financial Analysis\n")
    f.write("----------------------------\n")
    f.write(f"Total Months: {total_number_of_months}\n")
    f.write(f"Total: ${total_profit_loss}\n")
    f.write(f"Average  Change: ${average_profit_loss}\n")
    f.write(f"Greatest Increase in Profits: {val_increase} (${round(greatest_increase)})\n")
    f.write(f"Greatest Decrease in Profits: {val_decrease} (${round(greatest_decrease)})\n")
    f.write(f"ass")